<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpProtocol>
            <customHeaders>
                <remove name="X-Powered-By" />
                <add name="X-Content-Type-Options" value="nosniff" />
            </customHeaders>
        </httpProtocol>
        <staticContent>
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="00:10:00" setEtag="false" />
        </staticContent>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.html" />
                <add value="Default.asp" />
            </files>
        </defaultDocument>
        <security>
            <requestFiltering removeServerHeader="true" />
        </security>
        <tracing>
            <traceFailedRequests>
                <remove path="*.asp" />
                <add path="*">
                    <traceAreas>
                        <add provider="WWW Server" areas="Authentication,Security,Filter,StaticFile,CGI,Compression,Cache,RequestNotifications,Module,FastCGI,WebSocket,Rewrite,Cors" verbosity="Verbose" />
                    </traceAreas>
                    <failureDefinitions statusCodes="400-405" />
                </add>
            </traceFailedRequests>
        </tracing>
    </system.webServer>
</configuration>
