@font-face {
  font-family: "JetBrains Mono";
  src: url("font/JetBrainsMono-Regular.woff2");
}

body {
  font-family: "JetBrains Mono";
}

table {
  width:1200px;
}
caption {
  caption-side:top;
}
tbody, thead {
  font-size:0.75rem;
}
td, th {
  max-height:50px;
  overflow:hidden;
}
.words {
  font-size:0.6rem;
  white-space:pre-wrap;
  word-break:break-word;
}
.blogtitle {
  width:160px;
}
.blogcontent {
  width:480px;
}
